.cookie-container {
  position: fixed;
  bottom: 0;  
  width: 100%;  
  padding: 20px 0;  
  border-top: 1px solid gray;
  text-align: center;
  z-index: 1;
}

.cookie-container p {
  margin: 0 0 20px 0;
  color: white;
}

.cookie-container button {
  background-color: gray;
  color: black;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 10px;
  cursor: pointer;
}

.cookie-container button:hover {
  background-color: black;
  color: white;
  border: 1px solid gray;
}
